:root{
    --naranja:#F90;
    --negro: black;
    --blanco: white; 
}


body{
    background-color: aqua;
    background-image: url('images/pattern.jpg');
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera,
.contenedor{
    max-width: 1000px;
    margin: auto;
}

.cabecera{
    
    display: flex;
    padding-bottom: 8px;
    justify-content: space-between;
    align-items: center;

}


.cabecera h1{
    color: var(--naranja);
    font-size: 24px;
}

.contenedor{
    background-color: var(--blanco);
}